@font-face {
	font-family: "My Custom Font";
	src: url('./fonts/CRAMPS__.TTF') format("truetype");
}

@font-face {
	font-family: "Font Two";
	src: url('./fonts/qlarendoncondensed.otf') format("truetype");
}

h1.customFont {
	font-family: "My Custom Font";
}



body,
html {
	font-family: 'Font Two';
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("../images/art-black-and-white-blur-147635.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-origin: padding-box;
}

/*====   General   ====*/
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #cccccc;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0;
}

.container {
	max-width: 1240px;
}

/*====   top Page   ====*/
.container .section-h1 {
	text-align: center;
	padding: 30px 0 20px 0;
	color: antiquewhite;
}

h1.section-h1 {
	text-transform: uppercase;
}

#header {
	width: 100%;
	height: 900px;
}

.header-row-one {
	color: white;
	padding: 50px 0 0 0;
}

#header .header-body {
	margin-top: 300px;
	text-align: center;
	width: 100%;
	color: white;
}

.header-row-one h1 {
	font-size: 55px;
}

nav.header-nav-box {
	width: 50%;
	display: inline-flex;
	justify-content: space-evenly;
	font-size: 24px;
	position: fixed;
	transition: all 0.4s ease;
}

.shrink {
	height: 40px;
	top: 0;
	right: 20px;
	align-content: center;
	max-width: 20%;
}

nav a,
nav a:active,
nav a:focus {
	color: gray;
	text-decoration: none;
}

nav a:hover {
	color: ghostwhite;
	text-decoration: none;
}

/*====   About   ====*/

#about {
	width: 100%;
	height: 800px;
	background-color: transparent;
	color: ghostwhite;
}

#about img {
	width: 400px;
	height: auto;
	margin-top: 50px;
	margin-left: 20px;
	border: 1px solid #cccccc;
	border-radius: 20px;
	padding: 20px;
}

#about .about-text {
	margin-top: 75px;
}

/*====   Story Book   ====*/

#stories {
	width: 100%;
	background-color: transparent;
	color: white;
	min-height: 600px;
}

#storyHeadings {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

a .storyHeader {
	text-align: center;
	width: 300px;
	margin: 5px 0;
}

.modal {
	color: black;
}

/* .modal-body {
	height: 800px;
} */

.modal-dialog {
	max-width: 1000px;
}

.modal-body img {
	width: 100%;
	height: auto;
}


/*====   Contact   ====*/

#contact {
	width: 100%;
	height: auto;
	background-color: transparent;
	color: white;
	display: flex;
	min-height: 700px;
}

#contact .container {
	text-align: center;
}

div.container #contactForm {
	text-align: center;
	max-width: 600px;
}

.error {
	color: red;
}

div.container .h3-message-contact {
	text-align: center;
	margin-bottom: 38px;
	margin-top: 80px;
}

#contactForm {
	margin: 20px auto;
}

#contact input,
#contact textarea {
	border: 1px solid black;
	border-radius: 0;
}

.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #506066;
	border: 0;
	padding: 14px 20px;
	margin: 0;
	font-size: 20px;
	border-radius: 2px;
	margin-top: 20px;
	transition: all 0.3s;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
	color: #fff;
	background-color: rgb(145, 101, 101);
}

/*====   Footer   ====*/

#footer {
	width: 100%;
	height: 100px;
	background-color: rgb(114, 114, 114, 0.7);
	text-align: center;
}

#footer .container {
	padding-top: 8px;
}

p.footer-p {
	font-weight: 600;
	color: white;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	html {
		overflow: hidden;
	}

	body {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	/* Styles */
	body,
	html {
		background-image: url("../images/JeremytheStoryteller.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		/* background-origin: padding-box; */
	}

	#header .header-body {
		margin-top: 180px;
	}

	nav a h3 {
		margin-bottom: 0;
	}

	#about img {
		display: none;
	}

	.shrink {
		margin: 0;
		max-width: 100%;
	}

	.container {
		color: white;
	}


	nav a:hover {
		color: ghostwhite;
		font-weight: 600;
	}

	nav.header-nav-box {
		background: rgba(0, 0, 0, 0.4);
		top: 0;
		left: 0;
		width: 100%;
	}

	.header-brand-box {
		text-align: center;
		padding-top: 20px;
	}

	.modal-content {
		margin: auto;
		margin-top: 30px;
		width: 90%;
	}

	.modal-body {
		overflow-y: auto;
		height: 700px;

	}

	.page {
		width: 100%;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	/* Styles */
}