body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("/assets/images/JeremytheStoryteller.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: padding-box;
}

/*====   General   ====*/

hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #cccccc;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
}

.container .section-h1 {
    text-align: center;
    padding: 30px 0 20px 0;
    color: antiquewhite;
}

/*====   top Page   ====*/

#header {
    width: 100%;
    height: 900px;
    /* background-image: url("/assets/images/road-header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 0; */
}

.header-row-one {
    color: white;
    padding: 50px 0 0 0;
}

.header-row-one h1 {
    font-size: 55px;
}

nav.header-nav-box {
    float: right;
}

/*====   About   ====*/

#about {
    width: 100%;
    height: 800px;
    background-color: transparent;
}

/*====   Story Book   ====*/

#stories {
    width: 100%;
    background-color: transparent;
}

.modal-dialog {
    width: 80%;
}

div.card {
    background-color: rgb(131, 131, 131, 0.3);
    color: white;
}

/*====   Contact   ====*/

#contact {
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
    display: flex;
}

div.container #form {
    text-align: center;
}

.error {
    color: red;
}

div.container .h3-message-contact {
    text-align: center;
    margin-bottom: 38px;
}

#form {
    width: 60%;
    margin: 20px auto;
}
#contact input {
    border: 1px solid black;
    border-radius: 0;
}
.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #506066;
    border: 0;
    padding: 14px 20px;
    margin: 0;
    font-size: 20px;
    border-radius: 2px;
    margin-top: 20px;
    transition: all 0.3s;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
    color: #fff;
    background-color: rgb(145, 101, 101);
}


/*====   Footer   ====*/

#footer {
    width: 100%;
    height: 100px;
    background-color: rgb(114, 114, 114, 0.7);
    text-align: center;
}

#footer .container {
    padding-top: 8px;
}

p.footer-p {
    font-weight: 600;
    color: white;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}